@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Persists information through its UI, API and DAL layers.</p>

<p>Links to github:</p>
<ul>
    <li><a href="https://github.com/MarioArriaga/MyApp/tree/master">1st assignment - UI, API and DAL projects</a></li>
    <li><a href="https://github.com/MarioArriaga/MyApp/tree/user-auth">2nd assignment - User authentication and data validation in UI and API</a></li>
</ul>