@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle Tepeaca #51, Col. La Paz<br />
    Puebla, PA 72160<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Mx-Info@nearshoretechnology.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:e.Info@nearshoretechnology.com">e.Info@nearshoretechnology.com</a>
</address>