@{
    ViewBag.Title = "Home Page";
}
<br />
@model DAL.Interfaces.IPerson
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
<div class="recorder-form">
    <label>Name: </label>
    @Html.TextBoxFor(p => p.Name)
    
    <br />

    <label>Address: </label>
    @Html.TextBoxFor(p => p.Address)

    <br />

    <label>Telephone: </label>
    @Html.TextBoxFor(p => p.Telephone)
    <br />
    <input type="submit" value="Record data" />
</div>
}